{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ news.title }}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% else %}
        <a href="/"><img src="{{ STATIC_URL }}/assets/logos/index.png" /></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% else %}
        <img src="{{ STATIC_URL }}/assets/banners/index.png" />
    {% endif %}
{% endblock %}

{% if get_place %}
    {% block space %}
        <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
    {% endblock %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h2 class="posttitle"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                {% if perms.news.change_post %}
                    <a href="{% url 'edit-post' get_place.url news.id %}" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}">
                        <i class="icon-edit" style="font-size:16px;"></i> 
                    </a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'delete-post' get_place.url news.id %}" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}">
                        <i class="icon-trash" style="font-size:16px;"></i>
                    </a>
                {% endif %}
            </h2>
            {% get_comment_count for news as comment_count %}
            <p class="postinfo">{% trans "Written by" %} {{ news.author }} {% trans "on" %} {{ news.pub_date }} | <a href="{{ news.get_absolute_url }}">{{ comment_count }} {% trans "comments" %}</a></p>
            {{ news.description|safe }}
            <div style="margin-bottom:30px;"></div>

            <p>{% render_comment_list for news %}</p>
            <p>{% render_comment_form for news %}</p>
        </div>
        <div class="span4">
            <h4>{% trans "Recent posts" %}</h4>
            <h4>{% trans "Related posts" %}</h4>
            <h4>{% trans "Share this post" %}</h4>
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="ecidadania">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>

            <!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->
            <div class="g-plusone" data-size="medium"></div>

            <!-- Inserta esta etiqueta después de la última etiqueta de Botón +1. -->
            <script type="text/javascript">
              window.___gcfg = {lang: 'es'};

              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
    </div>

{% endblock %}

