{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "View event" %} {{ proposal.id }} {% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

<style type="text/css">
        #map img { 
            max-width: none;  
        }
</style>

    <div class="row">
        <div class="span6">
            <h3>{{ event.title }}
            {% if perms.spaces.change_event %}
                <a href="{% url 'edit-event' get_place.url event.id %}" title="{% trans 'Edit' %}">
                    <i class="icon-edit" style="font-size:16px;"></i>
                </a>
                {% if perms.spaces.delete_event %}
                    <a href="{% url 'delete-event' get_place.url event.id %}" title="{% trans 'Delete' %}">
                        <i class="icon-trash" style="font-size:16px;"></i>
                    </a>
                {% endif %}
            {% endif %}
            </h3>
            <p>{{ event.location }}, {{ event.event_date }} - {{ event.event_type}}</p><br /><br />
            <p>{{ event.description|safe }}</p><br /><br />
        </div>

        <div class="span6">
            {% if event.latitude and event.longitude %}
                <div id="map" style="width:550px;height:300px;border:1px solid #AAA;"></div>
            {% endif %}           
            <p>{% trans "Attendees" %}:
                {% for attendant in event.user.all %}
                    <a href="{% url 'profile_public' attendant.username %}">
                        {% if attendant.get_profile.name %}
                            {{ attendant.get_profile.name }}
                        {% else %}
                            {{ attendant.username }}
                        {% endif %}
                    </a>
                {% endfor %}
            </p>           
        </div>

    </div>

{% endblock %}

{% block extrajsbottom %}
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="{% static 'js/map_tools.js' %}"></script>
    <script type="text/javascript">viewMap( {{ event.latitude }}, {{ event.longitude }} );</script>
{% endblock %}