{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load wysiwyg %}

{% block title %}
    {% trans "Edit roles" %}
{% endblock %}

{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <h3>{% trans "Edit roles for" %} {{ get_place.name }}</h3>

        <h6>{% trans "Add new user to" %} {{ get_place.name }} </h6>
        <input id="user-search" type="text" class="input-medium search-query" placeholder="{% trans 'Put the exact username here' %}">
        <a href="#" id="user-search-btn" class="btn">{% trans "Add user" %}</a>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h6>{% trans "Administrators in" %} {{ get_place.name }}</h6>
        <ul id="admins" class="connectedSortable unstyled">
            {% for u in user_admins %}
                <li id="{{ u.id }}" class="ui-state-default">
                    {{ u.username }}{% if u.get_profile.name %} ({{ u.get_profile.name }}){% endif %}
                    <a href="#" class="pull-right delete" title="{% trans 'Delete user' %} {{ u.username }}"><i class="icon-remove"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="span4"> 
        <h6>{% trans "Moderators in" %} {{ get_place.name }}</h6>
        <ul id="mods" class="connectedSortable unstyled">
            {% for u in user_mods %}
                <li id="{{ u.id }}" class="ui-state-default">
                    {{ u.username }}{% if u.get_profile.name %} ({{ u.get_profile.name }}){% endif %}
                    <a href="#" class="pull-right delete" title="{% trans 'Delete user' %} {{ u.username }}"><i class="icon-remove"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="span4">
        <h6>{% trans "Users in" %} {{ get_place.name }}</h6>
        <ul id="users" class="connectedSortable unstyled">
            {% for u in user_users %}
                <li id="{{ u.id }}" class="ui-state-default">
                    {{ u.username }}{% if u.get_profile.name %} ({{ u.get_profile.name }}){% endif %}
                    <a href="#" class="pull-right delete" title="{% trans 'Delete user' %} {{ u.username }}"><i class="icon-remove"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extrajsbottom %}
    <script src="{% static 'js/role_edit.js' %}" type="text/javascript"></script>
{% endblock %}