{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}
    {% trans "Edit roles" %}
{% endblock %}

{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <h3>{% trans "Edit roles for" %} {{ get_place.name }}</h3>

        <h6>{% trans "Add new user to" %} {{ get_place.name }} </h6>
        <form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
        </form>
        
        <hr>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h6>{% trans "Administrators in" %} {{ get_place.name }}</h6>
        <ul id="admins" class="connectedSortable unstyled">
            {% for u in user_admins %}
                <li class="ui-state-default">{{ u.username }} {% if u.get_profile.name %}({{ u.get_profile.name }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="span4"> 
        <h6>{% trans "Moderators in" %} {{ get_place.name }}</h6>
        <ul id="mods" class="connectedSortable unstyled">
            {% for u in user_mods %}
                <li class="ui-state-default">{{ u.username }} {% if u.get_profile.name %}({{ u.get_profile.name }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="span4">
        <h6>{% trans "Users in" %} {{ get_place.name }}</h6>
        <ul id="users" class="connectedSortable unstyled">
            {% for u in user_users %}
                <li class="ui-state-default">{{ u.username }} {% if u.get_profile.name %}({{ u.get_profile.name }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extrajsbottom %}
<script>
    $(function() {
        $( "#users, #admins, #mods" ).sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });
</script>
{% endblock %}