{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load cache %}

{% block title %}{% trans "e-cidadania" %}{% endblock %}

{% block logo %}{% endblock %}
{% block banner %}{% endblock %}

{% block extrajs %}
    <style type="text/css">
        body {
            background: url("{% static 'assets/background.jpg' %}");
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row centered" style="margin-top: 80px;">

        <div class="span7" style="font-size:1em;background:#000000;opacity:0.8;color:#EEEEEE;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
            <div style="padding:25px;">
                <h3>No pierdas el hilo</h3>
                <p>{% trans "Would you like the debates and decisions to be more inclusive? Well done and integrative proposals where participation is always a nice and enriching experience? We too, that's why we created e-cidadania." %}</p>
            </div>
        </div>

        <div class="span3 offset1">
            
            {% if not user.is_authenticated %}
            <div class="row">
                <div class="span3 well">
                    <form action="{% url 'login' %}?next={% url 'profile_overview' %}" method="POST">{% csrf_token %}
                        <input id="id_username" name="username" type="text" placeholder="Username">
                        <div class="input-append">
                            <input id="id_password" name="password" class="span2" type="password" id="inputPassword" placeholder="Password"><button class="btn btn-success" type="submit">{% trans "Sign in" %}</button>
                        </div>
                        <div style="font-size:0.8em;">
                            <a href="http://ecidadania.org/accounts/password/reset/">{% trans "Forgot your password?" %}</a> | 
                            <a href="{% url 'invite' %}">{% trans "Invite someone!" %}</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="span3 well">
                    <h6 style="margin-top:-10px;">{% trans "First time here? Register!" %}</h6>
                    <form action="{% url 'signup' %}" method="POST">{% csrf_token %}
                        <input type="text" id="id_username" name="username" placeholder="Username">
                        <input type="text" id="id_email" name="email" placeholder="E-Mail">
                        <input type="password" id="id_password1" name="password1" placeholder="Password">
                        <input type="password" id="id_password2" name="password2" placeholder="Repeat password">
                        <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
                    </form>
                </div>
            </div>
            {% endif %}

        </div>

    </div>

{% endblock %}
