# -*- coding: utf-8 -*-
#
# Copyright (c) 2013 Clione Software
# Copyright (c) 2010-2013 Cidadania S. Coop. Galega
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Import all the settings.defaults settings
from e_cidadania.settings.defaults import *

# Registration mail settings. Please use a different mail server and account
# during development than in production.
#EMAIL_HOST = "mail.ecidadania.org"
#EMAIL_PORT= 25
#EMAIL_HOST_USER= ""
#EMAIL_HOST_PASSWORD= ""
#DEFAULT_FROM_EMAIL = ""
#EMAIL_USE_TLS = True

# Time and zone configuration
TIME_ZONE = 'Europe/London'
LANGUAGE_CODE = 'en-gb'

# Cache backend. Default: local memory storage
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
        'LOCATION': 'unique-snowflake'
    }
}

# Who will we alert?
ADMINS = (
    ('Oscar', 'oscar.carballal@gmail.com'),
)
MANAGERS = ADMINS

# Database configuration. Default: sqlite3
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'e_cidadania/db/development.db',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

FIXTURE_DIRS = (
    (cwd + '/e_cidadania/fixtures/'),
)

# Not needed with debug, but just in case we set it to all.
ALLOWED_HOSTS = ['*']

# Debug toolbar settings. By default is commented, if you want to activate it,
# you will have to install django-debug toolbar and uncomment all this section.
# INTERNAL_IPS = ('127.0.0.1',)
# MIDDLEWARE_CLASSES += ('debug_toolbar.middleware.DebugToolbarMiddleware',)
# ECIDADANIA_MODULES += ('debug_toolbar',)

TEST_APPS = (
    # Apps which form a part of the testing framework of e-cidadania.
    'django_nose',
)

# Override django's default test runner to use Nose test runner instead.

TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'
NOSE_ARGS = ['tests.unit_tests', '-s', '--cov-report', 'term-missing']

NOSE_PLUGINS = [
    'tests.nose_plugins.DatabaseFlushPlugin',
]

INSTALLED_APPS += TEST_APPS
