django==1.6
Pillow==2.2.1
python-dateutil==2.1
django-guardian==1.1.1
django-taggit==0.10
south
djangorestframework
markdown
django-filter
pyyaml
defusedxml
django-sampledatahelper
#django-oauth-plus
#django-oauth2-provider
#django-stdimage
