{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load wysiwyg %}

{% block title %}
{% trans "View poll" %} {{ poll.question }}
{% endblock %}


{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% else %}
        <a href="{% url 'site-index' %}"><img src="{% static 'assets/logos/index.png' %}" /></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% else %}
        <img src="{% static 'assets/banners/index.png' %}" />
    {% endif %}
{% endblock %}
{% block space %}
    {% if get_place %}
        <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
    {% else %}
        <a class="brand" href="{% url 'site-index' %}">e-cidadania</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h3>{{ poll.question }}</h3>
            <h6>{% trans "Created by:" %} {{ poll.author }}
            <h6>{% trans "Created on:" %} {{ poll.pub_date }}</h6>
            <h6>{% trans "This poll ends on:" %} {{ poll.end_date }}</h6>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="poll_detail">
                    <form action="{% url 'vote-poll' get_place.url poll.id %}" method="post">
                        {% csrf_token %}
                        {% for choice in poll.choice_set.all %}
                            <label class="radio">
                                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                {{ choice.choice_text }}
                            </label>
                        {% endfor %}
                        <hr />
                        <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                        <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Vote' %}" />
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
